<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>
				<h4 class="modal-title">Success!</h4>
			</div>
			<div class="modal-body">
				<p class="text-center">Your model has been trained.<br>Test it against a new image.</p>
			</div>
			<div class="modal-footer">
				<button id="home-btn" class="btn btn-success btn-block" data-dismiss="modal"> Let's Go!</button>
			</div>
		</div>
	</div>
</div>